@reference "tailwindcss";

@theme {
  --font-body: var(--font-body);
  --font-display: var(--font-display, var(--font-body));
}

@theme inline {
  --font-scale: 1.15;

  --text-h1: calc(1rem * pow(var(--font-scale), 6));
  --text-h2: calc(1rem * pow(var(--font-scale), 5));
  --text-h3: calc(1rem * pow(var(--font-scale), 4));
  --text-h4: calc(1rem * pow(var(--font-scale), 3));
  --text-h5: calc(1rem * pow(var(--font-scale), 2));
  --text-h6: calc(1rem * pow(var(--font-scale), 1));
  --text-tiny: calc(1rem * pow(var(--font-scale), -2));
}
